@import "../../variables";

.social {
    a {
        @extend %center;
        @include imageDimensions(60px, 60px);
        text-decoration: none;
        font-size: 18px;
        color: white;
    }

    a::before {
        @include imageDimensions(60px, 60px);
        content: "";
        position: absolute;
        background: $social;
        border-radius: 50%;
        z-index: -1;
        transition: 0.3s ease-in;
    }

    a:hover::before {
        transform: scale(0);
    }

    a i {
        transition: 0.3s ease-in;
    }

    a:hover i {
        background: $social;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(2.2);
    }
}
