@import "./variables";

.section-1 {
    background-image: $gradient;
}

.section-2 {
    background-color: white;
}

.section-3 {
    background-color: $mobile-nav-color;
    padding-bottom: 30px;
    overflow: hidden;
}

.section-4 {
    background-color: white;
    margin-bottom: 30px;
}
